<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<h1>Welcome {{user.username}}, you can ,<a href="{% url 'logout' %}"> logout here.</a></h1>


<table border="2">
    <tr>
        <td>First Name</td>
        <td>{{user.first_name}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{user.last_name}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <td>School</td>
        <td>{{user.school}}</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>{{user.age}}</td>
    </tr>
</table>
</body>
</html>